@model IEnumerable<GetYourKnowledge.MVC.Models.AdviceWithTranslationModel>

@{
    ViewData["Title"] = "Advices";
}
<h2 class="text-center my-2">Your @Model.Count() advices</h2>
<ul class="list-group">
    @foreach (var advice in Model)
    {
        <li class="list-group-item">@advice.Id ) @advice.Advice <br />@advice.Translation</li>
    }
</ul>
<div class="my-2">
    <a class="btn btn-primary" asp-action="Index">Back</a>
</div>
