@model GetYourKnowledge.MVC.Models.InputAdviceAmountModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="clean-block-heading">
    <h2 class="text-info">Get your advices</h2>
    <form asp-action="GetAdvices">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="Amount" class="control-label">How many advices would you like to see? (5-20)</label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-success" value="Get me the advices!">
    </form>
</div>
