@{
    ViewData["Title"] = "404";
}
<div class="container-fluid pt-lg-5">
    <div class="text-center mt-5">
        <h1 class="m-0"><strong>404</strong></h1>
        <p class="text mb-5 lead">Page Not Found</p>
        <a class="btn btn-light btn-primary" asp-controller="Home" asp-action="Index">← Back to main page</a>
    </div>
</div>